
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity=
"sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity=
"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity=
"sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">
    </script>
    <script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity=
"sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous">
    </script>
    <style>
        .header {
            position: sticky;
            top:0;
        }
         body {
             height: 800px;
         }
    </style>
</head>

<body>
 <a href="{{ url_for('search') }}"> Search with STN_CODE</a>

    <table class="table">
        <thead style="position: sticky;top: 0" class="thead-dark">
            <tr>
                {% for item in header:  %}

                    <th class="header" scope="col">{{item}}</th>


                {% endfor %}
            </tr>
        </thead>
        <tbody>
              {% for all in data %}


                     <tr>
                       <td>{{all["S_NO"]}}</td>
                      <td>{{all.STN_CODE}}</td>
                       <td>{{all.STN_NAME}}</td>
<!--                       <td>{{all.ADSTE}}</td>-->
<!--                       <td>{{  all.SSE  }}</td>-->
<!--                       <td>{{  all.ROUTE  }}</td>-->
<!--                       <td>{{ all.SEC }}</td>-->
<!--                       <td>{{ all.DIV }}</td>-->
                       <td>{{  all.FAIL_TIME  }}</td>
                       <td>{{  all.RIGHT_TIME  }}</td>
<!--                       <td>{{ all.DURATION }}</td>-->
<!--                       <td>{{ all.FAILURE_REMARKS }}</td>-->
<!--                       <td>{{ all.NAME_OF_GEAR_FAILED }}</td>-->
<!--                       <td>{{ all.TYPE_OF_MAIN_GEAR_FAILED }}</td>-->
                       <td>{{ all.Failed_Gear_Desc }}</td>
<!--                       <td>{{ all.DEPTT}}</td>-->
<!--                       <td>{{ all.Cause }}</td>-->
<!--                       <td>{{ all.Train_Detention }}</td>-->
                     </tr>
              {% endfor %}
        </tbody>
    </table>
     <a href="{{ url_for('add') }}"> Enter data</a>
</body>

</html>